.category {
    height: 43.5vh;
    overflow: hidden;
}

.categoryContent {
    transition: all .2s ease-in-out !important;
    cursor: pointer;
    margin: 3vh;
    border-radius: 10px;
    background-size: 100%;
    height: 37.5vh;
}

.categoryContent:hover {
    transform: scale(1.05) !important;
}

.categoryContentImage {
    margin-top: 3%;
    height: 74%;
    border-radius: 4px;
    max-width: 100%;
}

.categoryContentText {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.headerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    height: 8vh;
    cursor: pointer;
}

.headerItemLeft {
    float: left;
}

.headerItemRight {
    float: right;
}

.headerItem:hover {
    background-color: #adadad1a;
}

.header {
    margin-left: 3vh !important;
    margin-right: 3vh !important;
}

.danielImage {
    width: 100%;
    border-radius: 4px;
}

.socialImage {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-right: 20px;
    cursor:pointer;
}

.textPadded {
    margin: 2vw;
}

.footerItemContainer {
    display: inline-block;
    margin-right: 2vw;
}

.footerItem {
    height: calc(5vh - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeBullets {
    margin-left: 45px;
}

@media only screen and (max-width: 1000px){
    /*Tablets [601px -> 1000px]*/
    .headerItemRight {
        float: left;
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .headerItemRight, .headerItemLeft {
        display: block !important;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}