.category {
    overflow: hidden;
    overflow: visible;
}

.c0 {
    animation: flyIn 1s 2.8s forwards;
    transform: translateX(100vw);
}

.c1 {
    animation: flyIn 1s 3s forwards;
    transform: translateX(100vw);
}

.c2 {
    animation: flyIn 1s 3.2s forwards;
    transform: translateX(100vw);
}

.c3 {
    animation: flyIn 1s 3.4s forwards;
    transform: translateX(100vw);
}

@keyframes flyIn{
    0%{
      transform: translateX(100vw);
    }
    100%{
      transform: translateX(0px);
    }
}

.categoryContent {
    transition: all 0.2s ease-in-out !important;
    cursor: pointer;
    margin: 3vh;
    border-radius: 10px;
    background-size: 100%;
    height: calc(100% - 6vh);
    max-height: 100%;
    padding: 3%;
}

.categoryContent:hover {
    transform: scale(1.05) !important;
}

.categoryContentImage {
    border-radius: 4px;
    max-width: 350px;
    max-height: 22.3vh;
    max-width: 100%;
}

.categoryContentText {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.headerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    height: 8vh;
    cursor: pointer;
}

.headerItemLeft {
    float: left;
}

.headerItemRight {
    float: right;
}

.headerItem:hover {
    background-color: #adadad1a;
}

.header {
    margin-left: 3vh !important;
    margin-right: 3vh !important;
}

.danielImage {
    width: 100%;
    border-radius: 4px;
}

.socialImage {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.textPadded {
    margin: 2vw;
}

.footerItemContainer {
    display: inline-block;
    margin-right: 2vw;
}

.footerItem {
    height: calc(5vh - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeBullets {
    margin-left: 45px;
}

@media only screen and (max-width: 960px) {
    .headerItemRight,
    .headerItemLeft {
        display: block !important;
        width: 100% !important;
    }
    .header {
        margin: 0 !important;
    }
    .MuiAccordionSummary-content {
        display: block !important;
        margin-bottom: 0 !important;
    }
    .MuiAccordionSummary-expandIcon {
        padding: 0 !important;
        transform: translateY(-5px);
    }
}
@media only screen and (max-width: 600px) {
    .siteContainer {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}
@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
}

.typewriter{ 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: none; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    // letter-spacing: 0.15em; /* Adjust as needed */
    animation: typing 1s steps(15, end), blink-caret 0.25s step-end infinite;
}

.typewriter2{ 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: none; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    // letter-spacing: 0.15em; /* Adjust as needed */
    animation: disp 0s 1.3s forwards, typing 1.5s steps(30, end) 1.3s, blink-caret 0.25s step-end infinite;
    visibility: hidden;
}

@keyframes disp{
    to   { visibility: visible; }
}

@keyframes typing {
    from {
        width: 0;
        border-right: 0.15em solid orange;
    }
    to {
        width: 100%;
        border-right: 0.15em solid orange;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
