.App {
  text-align: center;
  min-height: 100vh;
}

.Header {
  padding: 20px;
  background-color: #91c788;
}

.logo {
  width: 100%;
  cursor: pointer;
  min-height: 50px;
}

.headerItem {
  font-family: 'Fredoka One', cursive;
  cursor: pointer;
  vertical-align: bottom;
}